<lib-dialog
  [customTrigger]="true"
  #dialogRef
  [heading]="'Select token'"
  triggerLabel="check It ∨"
>
  <div class="content">
    <lib-input inputType="search" (onValueChange)="handleSearch($event)" />

    <ul class="coins-list">
      @for(coin of coinsList(); track coin.id){

      <lib-crypto-list-item
        [coin]="coin"
        [image]="`/${coin.symbol.toLowerCase()}-logo.png`"
        (click)="closeDialog(coin.symbol)"
        (keypress)="closeDialog(coin.symbol)"
      />
      }
    </ul>
  </div>
</lib-dialog>
@if(label()===''){<lib-button>Choose coin</lib-button>}@else {
<lib-button type="button" (click)="dialogRef.openDialog()">
  <img
    [src]="imagePath()"
    alt=""
    width="24"
    (error)="handleIconNotFound()"
  /><span>{{ label() }}</span>
</lib-button>
}
