.content {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: hidden;
}
.content input {
  margin: 1rem 0;
  padding: 0.8em 1em;
  background-color: var(--background);
  border: none;
  outline: none;
  font-size: 1rem;
  line-height: 1em;
  color: var(--text-light);
  border-radius: var(--rounded-sm);
}
.coin-option {
  margin-bottom: 5px;
  padding: 1em;
  background-color: gold;
  text-align: center;
  cursor: pointer;
}
.coin-option:hover {
  background-color: #eedfaf;
}
.coins-list {
  list-style: none;
  overflow-y: auto;
  flex-grow: 1;
  max-width: 100%;
}
