* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
main {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  height: 100vh;
}
